{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<section>
    <div class="flex flex-col items-center px-6 py-8 mt-10 md:h-screen lg:py-0">
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-black md:text-2xl">
                    Créer un compte
                </h1>
                {{ form_start(registrationForm) }}
                {{ form_errors(registrationForm) }}
                {% set passwordErrors = form_errors(registrationForm.plainPassword) %}

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-black"> {{ field_label(registrationForm.email) }} </label>
                        <input type="email" name="{{ field_name(registrationForm.email) }}" id="email" class="bg-white border border-black text-black sm:text-sm rounded-lg focus:ring-black focus:border-black block w-full p-2.5" placeholder="name@company.com" required="">
                        {% set emailErrors = form_errors(registrationForm.email) %}
                        {% if emailErrors %}
                            <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4">
                                <strong class="block font-medium text-red-800">Erreur d'email :</strong>
                                <p class="mt-2 text-sm text-red-700">
                                    {{ emailErrors|raw }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-black">{{ field_label(registrationForm.name) }}</label>
                        <input type="text" name="{{ field_name(registrationForm.name) }}" id="name" placeholder="••••••••" class="bg-white border border-black text-black sm:text-sm rounded-lg focus:ring-black focus:border-black block w-full p-2.5" required="">
                        {% set nameErrors = form_errors(registrationForm.name) %}
                        {% if nameErrors %}
                            <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4">
                                <strong class="block font-medium text-red-800">Erreur de nom :</strong>
                                <p class="mt-2 text-sm text-red-700">
                                    {{ nameErrors|raw }}
                                </p>
                            </div>
                        {% endif %}

                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-black">{{ field_label(registrationForm.plainPassword) }}</label>
                        <input type="password" name="{{ field_name(registrationForm.plainPassword) }}" id="password" placeholder="••••••••" class="bg-white border border-black text-black sm:text-sm rounded-lg focus:ring-black focus:border-black block w-full p-2.5" required="">
                        {% if passwordErrors %}
                            <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4">
                                <strong class="block font-medium text-red-800">Erreur de mot de passe :</strong>
                                <p class="mt-2 text-sm text-red-700">
                                    {{ passwordErrors|raw }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="flex items-start my-4">
                        <div class="flex items-center h-5">
                          <input id="terms" name="{{ field_name(registrationForm.agreeTerms) }}" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-black rounded bg-white focus:ring-black focus:ring-black" required="">
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="terms" class="font-light text-black">J'accepte les<a class="font-medium text-black hover:underline" href="#"> Termes et conditions d'utilisation.</a></label>
                        </div>
                    </div>
                    <button type="submit" class="w-full mb-2 text-white bg-indigo-600 hover:bg-indigo-900 focus:ring-4 focus:outline-none focus:ring-black font-medium rounded-lg text-sm px-5 py-2.5 text-center">Créer un compte</button>
                    <p class="text-sm font-light text-black">
                        Déjà un compte ? <a href="/login" class="font-medium text-black hover:underline">Se connecter</a>
                    </p>
                    {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</section>





{% endblock %}
