<div class="w-80 mt-10">
    <div class="flex flex-row justify-between">
        <h3 class="font-bold text-xl">Bloc-Note</h3>
        <button id="showFormBtn" onclick="toggleForm('blocNoteFormContainer')"
            class="flex justify-center w-fit select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-1 px-3 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
        >
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
                <g fill="#ffffff" fill-rule="evenodd" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                    <g transform="scale(10.66667,10.66667)">
                        <path d="M11,2v9h-9v2h9v9h2v-9h9v-2h-9v-9z"></path>
                    </g>
                </g>
            </svg>
        </button>
    </div>
    <div class="flex flex-col bg-yellow-200 gap-3 rounded-lg p-4">
        {% for blocnote in blocnotes %}
            <p>{{ blocnote.name }}</p>
        {% endfor %}
    </div>
    <div id="blocNoteFormContainer" class="toggled fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 flex items-center justify-center z-50 hidden">
        
            {{ form_start(blocNoteForm, {'attr': {'class': 'bg-white rounded-lg p-8'} }) }}
            <div class="flex justify-end">
                {# Close button #}
                <button onclick="toggleForm('blocNoteFormContainer')"
                class="flex justify-center w-fit select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-1 px-3 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                type="button">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>        </button>
                {# End Close button #}
            </div>
            <div class="relative mb-3" data-twe-input-wrapper-init>
            <input
    type="text"
    name="{{ field_name(blocNoteForm.bloc_name) }}"
    class="peer bg-white text-black block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
    id="exampleFormControlInputText"
    placeholder="{{ field_label(blocNoteForm.bloc_name) }}" />
  <label
    for="exampleFormControlInputText"
    class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary"
    >{{ field_label(blocNoteForm.bloc_name) }}
  </label>
  </div>

            {{ form_widget(blocNoteForm) }}
            <div class="flex justify-end mt-4">
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Créer</button>
            </div>
            {{ form_end(blocNoteForm) }}
    </div>
</div>

<script>
    function toggleForm(formId) {
    let form = document.getElementById(formId);
    let forms = document.querySelectorAll('.toggled');
        forms.forEach(function(item) {
            if(item !== form) item.classList.add('hidden');
        });
    if (form.classList.contains('hidden')) {
        form.classList.remove('hidden');
    } else {
        form.classList.add('hidden');
    }
}

</script>
